* {
  font-family: "Roboto","Times New Roman", sans-serif;
}

:root {
  --background: rgba(239, 233, 244);
  --red: rgba(238, 99, 82);
  --lightblue: rgba(8, 178, 227, .3);
  --green: rgba(87, 167, 115);
  --darkblue: rgba(72, 77, 109);
}

body {
  text-align: center;
  background-color: var(--background);
}

h1 {
  font-size: 36px;
  color: var(--darkblue);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--darkblue);
}

a:visited {
  color: var(--red);
}

a:hover {
  color: var(--green);
}

div {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

div a {
  background-color: var(--lightblue);
  width: 300px;
  box-sizing: border-box;
  display: inline-block;
  padding: 24px 80px;
  font-size: 24px;
  border-top: 2px solid var(--red);
}

.top-recipe {
  border-top: none;
}
