* {
  font-family: "Roboto","Times New Roman", sans-serif;
}

:root {
  --background: #EFE9F4;
  --red: #EE6352;
  --lightblue: #08B2E3;
  --green: #57A773;
  --darkblue: #484D6D;
}

body {
  background-color: var(--background);
}

h1 {
  font-size: 36px;
  color: var(--darkblue);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--darkblue);
}

a:visited {
  color: var(--green);
}

a:hover {
  color: var(--red);
}

.introduction {
  text-align: center;
}

img {
  width: 400;
  height: auto;
}
